
<div class="right">
    <small> (by <%= quiz.Author ? quiz.Author.username : "Anómino" %>) </small>
</div>

<h1>
    Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Pregunta: <b><%= quiz.question %></b>
    </p>


    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Respuesta" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Comprobar">
    </div>
</form>

<% if (session.user && quiz.Tips.length > 0) { %>

<h1>
    Pistas:
</h1>

<% var tips = quiz.Tips; %>
<% var tips_usernames = quiz.tips_usernames; %>
<% var quizId = quiz.id; %>
<% var quizAuthorId = quiz.AuthorId; %>

<ul>
    <% for (var i in tips) { %>
       
        <% var tip = tips[i]; %>
        <% var accepted = tip.accepted; %>
        <% var isAdmin = session.user && session.user.isAdmin; %>
        <% var isQuizAuthor = session.user && quizAuthorId && quizAuthorId === session.user.id; %>
     

        <% if (accepted || isAdmin || isQuizAuthor) { %>
            
           <li>
                <%= tip.text %>

                <span id="autor"> (by <%= tips_usernames ? tips_usernames[i] : "Anónimo" %>) </span>

           </li>
        <% } %>

    <% } %>
</ul>

<% } %>

